<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <title>Unveil</title>
    <link rel="stylesheet" href="unveil.css">
    <script src="unveil.js"></script>
</head>
<body onscroll="scroll_changed()">
<button onclick="next_slide_left()" class="arrow-left"><</button>
<button onclick="next_slide_right()" class="arrow-right">></button>
<section id="unveil-slide-0">
    <article>
        <h1>Dummy</h1>
        <p>Text</p>
        <p>--list </p>
        <ul>
            <li>list</li>
            <li>list</li>
        </ul>
    </article>
</section>
<section id="unveil-slide-1">
    <article>
        <h1>Yummy</h1>
        <ul>
            <li>list</li>
        </ul>
        <p>text text
            text text
            text text
            text text
            text text</p>
    </article>
</section>
</body>
</html>