html {
    background-color: white;
    font-size: xx-large;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

section {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    height: 100%;
    width: 100%;
}

article {
    margin-top: 5%;
    width: 75%;
}

article h1 {
    font-size: 2.5rem;
}

article h2 {
    margin-left: 0.5em;
}

p, ul, ol {
    margin-left: 1em;
}

article {
    justify-content: center;
    align-items: center;
}

li > code.hljs , p > code.hljs {
    display: inline;
    padding: 2px;
}

.arrow-left, .arrow-right {
    margin: 1em;
    width: 35px;
    position: fixed;
    top: 50%;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}


.btn-code {
    top: 0;
    margin-top: 0.2rem;
    margin-left: 93%;
}

.btn-code > i {
    margin-left: 0.5em;
}






